<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOG_HOME" value="/home/spr/logs-config"/>
    <property name="LOG_INFO" value="log_info"/>
    <property name="LOG_ERROR" value="log_error"/>
    <property name="DATE_FORMAT" value="%d{yyyy-MM-dd}"/>
    <property name="DATE_TIME_FORMAT" value="dd-MM-yyyy HH:mm:ss:SSS"/>
    <property name="MAX_FILE_SIZE" value="100MB"/>
    <timestamp key="FILE_NAME_FORMAT" datePattern="yyyy-MM-dd"/>

    <appender name="${LOG_INFO}" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_INFO}.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>${DATE_TIME_FORMAT}</timestampPattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archived/${LOG_INFO}.${DATE_FORMAT}.%i.log.zip</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="${LOG_ERROR}" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_ERROR}.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>${DATE_TIME_FORMAT}</timestampPattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archived/${LOG_ERROR}.${DATE_FORMAT}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
        </rollingPolicy>
    </appender>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="info">
        <appender-ref ref="${LOG_INFO}"/>
        <appender-ref ref="${LOG_ERROR}"/>
    </root>

</configuration>
